@import url('https://fonts.googleapis.com/css?family=Raleway:400,600i,700,700i');

body {
    font-family: 'Raleway';
    background-color: rgba(255, 255, 255, 1);
    display: block;
    margin: 0;
    padding: 0;
}

.logo {
    background-image: url('bg-site.jpg');
    background-repeat: no-repeat;
    height: 30rem;
    width: auto;
    border: 1px solid white;
    display: block;
    margin-left: 12rem; 
}

.logo h1, .logo p {
    text-align: center;
    color: rgb(112, 192, 212);
}

.logo h1 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.15rem;
    background-color: rgba(225, 225, 225, 0.8);
    margin: 8rem 20rem 0 20rem;
}

.logo p {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    background-color: rgba(225, 225, 225, 0.8);
    margin: 1rem 20rem 0 20rem;
}

.shelter-story {
    background-color: rgb(235, 235, 235);
}

.shelter-story h2, .shelter-story p {
    text-align: center;
    color: rgb(112, 192, 212);
}

.shelter-story h2 {
    font-size: 2.2rem;
    padding: 2rem 10rem 0 10rem;
    margin: 0;
}

.shelter-story p {
    padding: 2rem 10rem 3rem 10rem;
    margin: 0;
}

.donate {
    display: block;
    background-color: cadetblue;
}

.donate h2 {
    text-align: center;
    color: rgb(112, 192, 212);
    font-size: 2.2rem;
    padding: 2rem 10rem 2rem 10rem;
    margin: 0;
}

.donate section {
    display: flex;
    justify-content: center;
}

.donate article {
    border: 1px solid black;
    width: 25%;
    height: auto;
    margin: 0 2rem 0 2rem;
}